@{
    var str = "<script>alert('ok');</script>";
    var msg = @"你好：

再見！";
}

<script>
    alert('@Ajax.JavaScriptStringEncode(msg)');
</script>


<a href="https://www.google.com.tw/maps/place/@HttpUtility.UrlPathEncode(ViewBag.location)">@ViewBag.location</a>

<hr />


@*@Html.Raw(str)*@

<hr />

@if (IsAjax)
{
    Layout = "";
}

@if (User.Identity.IsAuthenticated)
{
    
}



@{
    var num = (int[])ViewBag.num;
}

@foreach (var item in num)
{
    @item
}

@foreach (var item in num)
{
    @(item + " ")
}

<ul>
@foreach (var item in num)
{
  <li>@item</li>
}
</ul>







TEST

@DateTime.Now

@if (DateTime.Now.Year != 2015)
{
    @:今年
}
else
{
    <text>
        非今年
    </text>
}